{
	"env": {
		"node": true,
		"mocha": true
	},
	"rules": {
		"strict": [2, "global"],
		"no-mixed-requires": [0],
		"no-multi-spaces": [0],
		"space-infix-ops": [2],
		"quotes": [2, "single"],
		"vars-on-top": [2],
		"one-var": [2],
		"no-shadow": [0],
		"eol-last": [0],
		"key-spacing": [0],
		"no-mixed-spaces-and-tabs": [2, "smart-tabs"],
		"space-unary-ops": [1, { "words": true, "nonwords": true }],
		"no-underscore-dangle": [0],
		"camelcase": [0],
		"no-process-exit": [0],
		"no-use-before-define": [0],
		"no-unused-expressions": [2],
		"semi": [2, "always"],
		"no-unused-vars": [2],
		"comma-spacing": [2, {"before": false, "after": true}]
	}
}