{
	"env": {
		"node": true,
		"mocha": true
	},
	"rules": {
		"global-strict": [2, "always"],
		"no-mixed-requires": false,
		"no-multi-spaces": false,
		"space-infix-ops": true,
		"quotes": [1, "single"],
		"vars-on-top": [1, true],
		"one-var": [1, true],
		"no-shadow": false,
		"eol-last": false,
		"key-spacing": false,
		"no-mixed-spaces-and-tabs": [2, "smart-tabs"],
		"space-unary-ops": [1, { "words": true, "nonwords": true }],
		"no-underscore-dangle": false,
		"camelcase": false,
		"no-process-exit": false
	}
}